<section class="content-header" th:replace="component/header.html"></section>


<body>
	<div class="container-fluid">

		<h1 class="text-center mt-5">Consultar cliente</h1>

		<div id="zonaInsertar" class="text-center">

		</div>

		<div class="container">
			<div class="mb-3">
				<label for="id" class="form-label">ID Cliente</label>
				<input name="id" class="form-control id" id="id">
			</div>

			<button type="submit" class="btn btn-primary enviar">Enviar</button>
		</div>

		<p class="text-center">Volver al ménu principal <a href="../menu">aquí</a></p>
	</div>
</body>

<script>
	
	//NÚMERO DE PARÁMETROS DE NUESTRO OBJETO CLIENT
	const attObjetoClient = 5;
	
	const buttomSubmit = document.querySelector(".enviar");

	const zonaInserto = document.getElementById("zonaInsertar");


	buttomSubmit.addEventListener("click", () => {
		const id = document.querySelector(".id").value;
		getClient(id);

	});

	const consumoApi = async (id) => {

		const data = await fetch("/api/clients/" + id)
		return new Promise((resolve, reject) => {

			if (data.status == 200) {
				resolve(data.json());
			} else {
				zonaInserto.innerHTML = "<h1 class='text-center text-danger'>No se encuentra clientes con ese ID</h1>"
				reject(new Error('No se encuentra cliente con ese ID'))
			}
		})
	}

	async function getClient(idClient) {

		const data = await consumoApi(idClient);

		//SI EL OBJETO QUE RECIBIMOS TIENE EL MISMO NÚMERO DE ATRIBUTOS QUE EL OBJETO CLIENT LO PINTAMOS

		if (Object.keys(data).length === attObjetoClient) {

			zonaInserto.innerHTML = '<table class="table"><thead><tr><th scope="col">ID</th><th scope="col">NOMBRE</th><th scope="col">APELLIDOS</th><th scope="col">FECHA NACIMIENTO</th><th scope="col">DNI</th></tr></thead><tbody></tbody></table>';

			const zonaTabla = document.getElementsByTagName("tbody")[0];

			//ASIGNO VALORES EN CADA ITERACCIÓN
			const id = data.id;
			const name = data.name;
			const lastname = data.lastname;
			const birth = data.dateBirth;
			const dni = data.dni;

			//CREO FILA 
			const dataRow = document.createElement("tr");

			//CREO ETIQUETAS QUE CONTENDRÁN LOS DATOS
			const idArea = document.createElement("th");
			const nameArea = document.createElement("td");
			const lastnameArea = document.createElement("td");
			const birthArea = document.createElement("td");
			const dniArea = document.createElement("td");

			//ASIGNO ATRIBUTOS A LAS AREAS OPORTUNAS
			idArea.setAttribute("scope", "row");

			//ASIGNO VALOR A LA CELDA
			const idText = document.createTextNode(`${id}`);
			const nameText = document.createTextNode(`${name}`);
			const lastNameText = document.createTextNode(`${lastname}`);
			const birthText = document.createTextNode(`${birth}`);
			const dniText = document.createTextNode(`${dni}`);

			//UNO CELDA Y VALOR
			idArea.appendChild(idText);
			nameArea.appendChild(nameText);
			lastnameArea.appendChild(lastNameText);
			birthArea.appendChild(birthText);
			dniArea.appendChild(dniText);

			//UNO FILA Y CELDA
			dataRow.appendChild(idArea);
			dataRow.appendChild(nameArea);
			dataRow.appendChild(lastnameArea);
			dataRow.appendChild(birthArea);
			dataRow.appendChild(dniArea);

			//UNO FILA A CUERPO DE TABLA
			zonaTabla.appendChild(dataRow);
		} else {

			//ELIMINAMOS TABLA SI NO RECOGEMOS ELEMENTO
			while (zonaInserto.hasChildNodes()) {
				zonaInserto.removeChild(zonaInserto.firstChild);
			}

			zonaInserto.innerHTML = "<h1 class='text-center text-danger'>No se encuentra clientes con ese ID</h1>"
		}



	}

</script>

<section class="content-footer" th:replace="component/footer.html"></section>