<section class="content-header" th:replace="component/header.html"></section>


<body>
	<h1 class="text-center mb-5">Mostrar clientes</h1>

	<table class="table table-hover align-middle">
		<thead class="table-dark align-middle">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">NOMBRE</th>
				<th scope="col">APELLIDOS</th>
				<th scope="col">FECHA NACIMIENTO</th>
				<th scope="col">DNI</th>
				<th scope="col">ACCION</th>
			</tr>
		</thead>
		<tbody>
			<div id="isertarAqui"></div>
		</tbody>
	</table>

	<div id="insertarAqui">

	</div>
	<p class="text-center">Volver al ménu principal <a href="../menu">aquí</a></p>
</body>


<script>
	console.log("Hola");

	//zona.innerHTML = "Hola";
	const consumoApi = async() => {
		await fetch("http://localhost:8080/api/clients")

			.then(result => result.json())
			.then(data => {

				//LIMPIAMOS LA TABLA SI CONTIENE ALGÚN ELEMENTO
				const zonaTabla = document.getElementsByTagName("tbody")[0];
				while(zonaTabla.hasChildNodes()){
					zonaTabla.removeChild(zonaTabla.firstChild);
				}

				data.forEach(n => {
					//ASIGNO VALORES EN CADA ITERACCIÓN
					let id = n.id;
					let name = n.name;
					let lastname = n.lastname;
					let birth = n.dateBirth;
					let dni = n.dni;

					//CREO FILA 
					const dataRow = document.createElement("tr");

					//CREO ETIQUETAS QUE CONTENDRÁN LOS DATOS
					const idArea = document.createElement("th");
					const nameArea = document.createElement("td");
					const lastnameArea = document.createElement("td");
					const birthArea = document.createElement("td");
					const dniArea = document.createElement("td");
					const accionArea = document.createElement("td");



					//ASIGNO ATRIBUTOS A LAS AREAS OPORTUNAS
					idArea.setAttribute("scope", "row");
					accionArea.setAttribute("class", "accion");
					accionArea.setAttribute("id", `${id}`);



					//ASIGNO VALOR A LA CELDA
					const idText = document.createTextNode(`${id}`);
					const nameText = document.createTextNode(`${name}`);
					const lastNameText = document.createTextNode(`${lastname}`);
					const birthText = document.createTextNode(`${birth}`);
					const dniText = document.createTextNode(`${dni}`);
					const accionText = document.createTextNode("Eliminar");


					//CREO BOTON DE ACCIÓN
					const accionButton = document.createElement("button");
					accionButton.setAttribute("value", `${id}`);
					accionButton.setAttribute("class", "btn btn-danger");
					accionButton.setAttribute("name", "accion");

					accionButton.appendChild(accionText);

					//UNO CELDA Y VALOR
					idArea.appendChild(idText);
					nameArea.appendChild(nameText);
					lastnameArea.appendChild(lastNameText);
					birthArea.appendChild(birthText);
					dniArea.appendChild(dniText);
					accionArea.appendChild(accionButton);

					//UNO FILA Y CELDA
					dataRow.appendChild(idArea);
					dataRow.appendChild(nameArea);
					dataRow.appendChild(lastnameArea);
					dataRow.appendChild(birthArea);
					dataRow.appendChild(dniArea);
					dataRow.appendChild(accionArea);

					//UNO FILA A CUERPO DE TABLA
					zonaTabla.appendChild(dataRow);

				})

				let accionBoton = document.getElementsByName("accion");
				accionBoton.forEach(element =>
					element.addEventListener("click", function (e) {
						borrarCliente(this.value);
					}));

			})
			.catch(err => console.log(err))


	};


	//LLAMO A LA API
	consumoApi();

	//FUNCIÓN PARA BORRAR CLIENTE QUE QUERAMOS, SE LE PASA EL ID
	const borrarCliente = async(id) => {
		const result = await fetch("http://localhost:8080/api/clients/"+id, {method:'DELETE'})
		
		if(result.status ==204){
			consumoApi();
		}
	};

</script>

<section class="content-footer" th:replace="component/footer.html"></section>